body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: hsl(210, 60%, 98%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: white;
  width: 500px;
  padding: 10px;
  border-radius: 7px;
  gap: 10px;
}
.notify {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.notify_text {
  display: flex;
  align-items: center;
}
.notify_text h1 {
  margin-right: 5px;
}
.notify_text span {
  background-color: hsl(219, 85%, 26%);
  padding: 5px;
  border-radius: 7px;
  color: white;
}
.mark {
  color: hsl(205, 33%, 90%);
  cursor: pointer;
}
.mark:hover {
  color: hsl(219, 85%, 26%);
  font-weight: 900;
}
.webber {
  display: flex;
  align-items: center;
  border-radius: 7px;
  padding: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}
.ball {
  background-color: hsl(1, 90%, 64%);
  height: 5px;
  width: 5px;
  border-radius: 50%;
}
.unread {
  background-color: hsl(210, 60%, 98%);
}
.webber img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.webber_text {
  margin-bottom: 0;
  color: hsl(219, 12%, 42%);
}
.webber_text_two {
  margin-top: 2px;
  color: hsl(219, 14%, 63%);
}
.name {
  font-weight: bold;
  color: hsl(224, 21%, 14%);
}
.post {
  font-weight: bold;
  color: hsl(219, 12%, 42%);
}
.club {
  color: hsl(219, 85%, 26%);
  font-weight: bolder;
}
.angela:hover {
  color: hsl(219, 85%, 26%);
  font-weight: bolder;
}
.message {
  border: 1px solid hsl(219, 12%, 42%);
  padding: 10px;
  border-radius: 7px;
  width: 390px;
}
.message:hover {
  background-color: hsl(210, 60%, 98%);
}
.case {
  flex-wrap: wrap;
}
.margin {
  margin: 0 auto;
}
.win {
  color: hsl(219, 12%, 42%);
}
.play {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.kimberly {
  justify-content: space-between;
}
@media screen and (max-width: 600px) {
  .card {
    width: 95%;
  }
  .message {
    width: 183px;
  }
  .webber {
    width: 99%;
  }
  .notify {
    width: 100%;
  }
}
